.order-btn {
    color: white;
    background-color: #1c223a;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    border: 1px solid #484d5f;
    border-radius: 15px;
    padding: 11px 34px 12px 34px;
    transition: ease-in-out 0.5s;
}